## problem statement
predict mpg(fuel efficiency) from features like horsepower, weight, etc.

In [1]:
#loading a data
import seaborn as sns
import pandas as pd

In [2]:
mpg=sns.load_dataset("mpg")

In [3]:
mpg.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [4]:
mpg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    object
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [5]:
mpg.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000

In [6]:
mpg=mpg.dropna(subset=["horsepower","weight","displacement","mpg"])

In [7]:
mpg

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

In [9]:
#feature
x=mpg[["horsepower","weight", "displacement"]]
y=mpg["mpg"]

In [13]:
from sklearn.model_selection import train_test_split

X_train, x_test, Y_train, y_test=train_test_split(
    x,y,test_size=0.2, random_state=42
)

In [14]:
X_train

     horsepower  weight  displacement
260       110.0    3620         225.0
184        92.0    2572         140.0
174        97.0    2984         171.0
64        150.0    4135         318.0
344        64.0    1875          86.0
..          ...     ...           ...
72        150.0    3892         304.0
107       100.0    2789         232.0
272        85.0    2855         151.0
352        65.0    2380          98.0
103       150.0    4997         400.0

[313 rows x 3 columns]

In [15]:
Y_train

260    18.6
184    25.0
174    18.0
64     15.0
344    39.0
       ...
72     15.0
107    18.0
272    23.8
352    29.9
103    11.0
Name: mpg, Length: 313, dtype: float64

In [17]:
# base line linear regression
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, r2_score

lr=LinearRegression()
lr.fit(X_train,Y_train)
y_pred=lr.predict(x_test)

In [18]:
y_pred

array([30.1690394 , 24.80110658, 32.628848  , 31.38864099, 25.91502373,
       30.07760281,  9.79962522, 29.50465014, 22.30749573, 32.95870149,
       13.68897887, 24.09251245, 12.90007968, 29.99426424, 20.44850777,
       27.03879716, 23.3892306 , 28.96497878, 26.96721529, 27.49758363,
       24.79036032, 31.20340793, 31.31895409, 18.81978322, 31.58257857,
       28.84654093, 25.06354621, 20.96311551, 32.40068561, 27.96853818,
       12.91625143, 22.74350968, 18.86263242, 27.41804947, 12.13419675,
       31.31015395, 12.52435887, 30.00781552, 14.31613814,  8.88656065,
       15.72583879, 30.38409589, 30.96190656, 29.19248763, 11.6473004 ,
        7.55653813, 21.77700027, 30.52041183, 28.54720318, 31.49120917,
       14.05082441, 28.43021168, 28.48163339, 29.28615283, 23.74445529,
       19.45060611, 21.55611648, 23.85240863, 28.00428221, 28.69064472,
        5.86641846, 23.39459226, 24.83769024, 25.13485029, 27.010701  ,
       29.31188758, 26.19305705, 31.49120917, 20.82369392, 10.44155546,
       28.51074255, 13.38860223, 25.2557824 , 29.82770622, 21.69341955,
       29.80548027, 14.78095195, 18.35030578, 29.64509534])

In [19]:
print("Linear regression mse:", mean_absolute_error(y_test,y_pred))

Linear regression mse: 3.511087161469541

In [20]:
print("Linear Regression r2 score:",r2_score(y_test,y_pred))

Linear Regression r2 score: 0.6470668946730963

In [22]:
#polynomial regression
from sklearn.preprocessing import PolynomialFeatures
poly=PolynomialFeatures(degree=2, include_bias=False)
X_poly=poly.fit_transform(x)

In [23]:
X_poly

array([[1.3000000e+02, 3.5040000e+03, 3.0700000e+02, ..., 1.2278016e+07,
        1.0757280e+06, 9.4249000e+04],
       [1.6500000e+02, 3.6930000e+03, 3.5000000e+02, ..., 1.3638249e+07,
        1.2925500e+06, 1.2250000e+05],
       [1.5000000e+02, 3.4360000e+03, 3.1800000e+02, ..., 1.1806096e+07,
        1.0926480e+06, 1.0112400e+05],
       ...,
       [8.4000000e+01, 2.2950000e+03, 1.3500000e+02, ..., 5.2670250e+06,
        3.0982500e+05, 1.8225000e+04],
       [7.9000000e+01, 2.6250000e+03, 1.2000000e+02, ..., 6.8906250e+06,
        3.1500000e+05, 1.4400000e+04],
       [8.2000000e+01, 2.7200000e+03, 1.1900000e+02, ..., 7.3984000e+06,
        3.2368000e+05, 1.4161000e+04]])

In [24]:
X_train_poly,x_test_poly,Y_train_poly,y_test_poly=train_test_split(X_poly,y,test_size=0.2,random_state=42)

In [25]:
X_train_poly

array([[1.1000000e+02, 3.6200000e+03, 2.2500000e+02, ..., 1.3104400e+07,
        8.1450000e+05, 5.0625000e+04],
       [9.2000000e+01, 2.5720000e+03, 1.4000000e+02, ..., 6.6151840e+06,
        3.6008000e+05, 1.9600000e+04],
       [9.7000000e+01, 2.9840000e+03, 1.7100000e+02, ..., 8.9042560e+06,
        5.1026400e+05, 2.9241000e+04],
       ...,
       [8.5000000e+01, 2.8550000e+03, 1.5100000e+02, ..., 8.1510250e+06,
        4.3110500e+05, 2.2801000e+04],
       [6.5000000e+01, 2.3800000e+03, 9.8000000e+01, ..., 5.6644000e+06,
        2.3324000e+05, 9.6040000e+03],
       [1.5000000e+02, 4.9970000e+03, 4.0000000e+02, ..., 2.4970009e+07,
        1.9988000e+06, 1.6000000e+05]])

In [26]:
poly_model=LinearRegression()
poly_model.fit(X_train_poly,Y_train_poly)

LinearRegression()

In [27]:
y_pred_poly=poly_model.predict(x_test_poly)

In [28]:
 print("polynomial regression MSE:",mean_absolute_error(y_test_poly,y_pred_poly))

polynomial regression MSE: 3.1186713495998037

In [29]:
 print("polynomial regression r2_score:",r2_score(y_test_poly,y_pred_poly))

polynomial regression r2_score: 0.6787460096243698